body {
    font-family: Arial, sans-serif;
}

#inicio {
    height: 100vh;

    background-size: cover;
}

.logo-img {
    width: 50%;
    max-width: 700px;
    height: auto;
}

#especializaciones, #integrantes, #contacto {
    padding: 60px 0;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card img {
    height: 250px;
    object-fit: cover;
}

h2 {
    margin-bottom: 40px;
}
/* Estilo para el ícono del navbar-toggler */
.navbar-toggler {
  border-color: transparent; /* Elimina el borde alrededor del ícono */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(20, 42, 102, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Cambia el color del ícono aquí, ajusta 'rgba(20, 42, 102, 1)' al color que desees */
}


.navbar {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #dadbdb;
}

.nav-link{
    
        color:rgb(20, 42, 102);
        text-decoration: none;
        background-color: transparent;
    
}

.navbar-brand{
    color:rgb(20, 42, 102);
    text-decoration: none;
    background-color: transparent;
}



.mt-5 {
    margin-top: 5rem !important;
}
.pt-5 {
    padding-top: 5rem !important;
}

/*LOGO*/
#inicio {
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-img {
    width: 50%;
    max-width: 700px;
    height: auto;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/*Especializacion*/
#especializaciones {
    min-height: 100vh; /* Altura mínima del 100% de la pantalla */
    background-color: #dadbdb; /* Gris claro */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px; /* Opcional: agregar relleno para más espacio */
    text-align: center;
}

.lazy-image {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    transition: opacity 1s, transform 1s, box-shadow 1s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.lazy-image.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/*FUENTES*/

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 990;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .oleo-script-regular {
    font-family: "Oleo Script", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .oleo-script-bold {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: normal;
  }

  h2{
    color: rgb(20, 42, 102);
    font-size: 40px; 
   margin-bottom: 80px;
  }
 

  h3 {
    margin-bottom: 50px; /* Ajusta el valor a la cantidad de espacio que desees */
}

p {
    margin-top: 50px; /* Ajusta el valor a la cantidad de espacio que desees */
}

#espe{
  font-size: 20px; /* Tamaño de fuente cómodo para la lectura */
    line-height: 1.4; /* Espaciado entre líneas adecuado */
    margin-bottom: 20px; /* Espacio inferior para separar los párrafos */
    text-align: justify;
  } 


  .important {
    font-weight: bold;
    color: rgb(42, 109, 197); /* Cambia a cualquier color que desees */
}





/* En tu archivo styles.css */
.team-card {
  transition: transform 0.3s ease-in-out; /* Ajusta la velocidad aquí */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra por defecto */
}

.team-card:hover {
  transform: translateY(-20px); /* Ejemplo de transformación al pasar el cursor */
  box-shadow: 0px 4px 8px rgb(20, 42, 102); /* Ajusta la sombra al pasar el cursor */
}

.navbar-brand .img-fluid {
  max-height: 80px; /* Ajusta este valor según el tamaño deseado */
  /* Puedes añadir más estilos si necesitas ajustar el posicionamiento o el margen */
}


#integrantes {
  min-height: 100vh; /* Asegura que la sección ocupe al menos la altura de la pantalla */
  background-color: #dadbdb;
  color: black; /* Ajusta el color del texto para que sea legible sobre el fondo */
  padding: 50px 0; /* Añade algo de padding para que el contenido no quede pegado al borde */
}

/* Ajuste opcional para dispositivos pequeños */
@media (max-width: 768px) {
  #contacto {
      padding: 30px 0; /* Reduce el padding en pantallas más pequeñas */
  }
}

.carousel-item img {
  width: 75%; /* Ajusta el tamaño al 75% del contenedor */
  margin: 0 auto; /* Centra la imagen horizontalmente */
}



#wspinst{
  font-size: 20px;
}

#color-h5{
  color: rgb(20, 42, 102);
}
